body {
    background-image: url("./images/subway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vp;
}

.container 
{
    background: beige;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    
}

h1 {
   
    margin-top: 10px;
    margin-bottom: 10px;
    color:yellow;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: yellow;
    text-shadow: 4px 4px black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    border: 2px solid black;
    background: green;
    color: white;
}

#save-btn {
    border: 2px solid black;
    background: darkblue;
    color: white;
}
#save-el{
    color: black;
    text-shadow: 2px 1px white;
}